/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 950px;
  background-image: linear-gradient(to top, #fff1eb 0%, #caeeff 100%);
  background-attachment: fixed;
} */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: linear-gradient(90deg, #4a07e8b4, #f00ca8eb);
  min-width: 1500px;
  background-size: 400% 400%;
  animation: gradient_anim 10s ease infinite;
  background-attachment: fixed;
  height: 40vh;
  width: 50vw;
}

@keyframes gradient_anim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* common button styles */
button{
  cursor: pointer;
  box-shadow: 0px 0px 3px 0px grey;
  border-radius: 4px;
}


/* common input styles */
input:focus{
  outline: none;
}

/* styles for all the links */
a{
  text-decoration: none;
}

/* styles for all the icons */
i{
  cursor: pointer;
}